.big{
    background-image: url("https://st.quantrimang.com/photos/image/2020/07/11/Anh-Hoa-Cuc-640.jpg")}
h1{
    text-align: center;
    color: aquamarine;
}
.dong1{
    background-color: aquamarine;
    color: white;
    font-style: italic;
}
.dong2{
    color: aquamarine;
}
.dong3{
    color: aquamarine;
}