h2{
    text-align: center;
    color: darkgreen;
}
.vonglap{
    background-color: skyblue;
    color: blue;
}
.dong1{
    text-align: center;
}
.dong2{
    margin-left: 60px;
    text-align: center;
}
.dong3{
    margin-right: 70px;
    text-align: center;
}